/* LoadingScreen.css */
.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../statics/fondo_2.jpg");
    background-size:cover;
    opacity: 1;
    transition: opacity 1s ease-out; /* Suavizado de la transición */
  }
  .loading-screen.fade-out {
    opacity: 0;
  }
  
  .spinner {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    to { transform: rotate(360deg); }
  }
  